<section class="footer">
    <h2 class="copyright">Anh Nguyen © 2020</h2>
    <ul class="navbar-nav-footer">
        <li id="home"><a href="/">HOME</a></li>
        <li id="projects"><a href="/projects">PROJECT</a></li>
        <li id="about"><a href="/about">ABOUT</a></li>
        <li id="contact"><a href="/contact">CONTACT</a></li>
    </ul>
</section>

