<section class="footer">
    <h2 class="copyright">Anh Nguyen © 2020</h2>
    <ul class="navbar-nav-footer">
        <li><a href="/">HOME</a></li>
        <li><a href="/featured">FEATURED</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
    </ul>
</section>

