<section class="footer-2">
    <h2 class="copyright">Anh Nguyen © 2020</h2>
    <ul class="navbar-nav-footer">
        <div>
            <ul class="footer-col">
                <li class="footer-section" id="home"><a href="/"><span>HOME</span></a>
                </li>
            </ul>
        </div>

        <div >
            <ul class="footer-col">
                <li id="projects"><a href="/projects"><span>PROJECT</span></a></li>
            </ul>
        </div>

        <div>
            <ul class="footer-col">
                <li id="about">
                    <a href="/about"><span>ABOUT</span>
                    </a>
                </li>
                <li>
                    <a href="#content-map" class="footer-section">content map</a>
                </li>
                <li>
                    <a href="#wireframe">wireframe</a>
                </li>
                <li>
                    <a href="#Walk-through">walk-through</a>
                </li>
            </ul>
        </div>

        <div>
            <ul class="footer-col">
                <li id="contact">
                    <a href="/contact"><span>CONTACT</span></a>
                </li>
            </ul>
        </div>
    </ul>
</section>

