<section class="footer-2">
    <iframe src="https://open.spotify.com/embed/playlist/5QA9BpSo7a6An8kMYEBLyy" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <h2 class="copyright-2">Anh Nguyen © 2020</h2>

        <ul class="nav-footer">
            <div>
                <ul class="footer-col">
                    <li id="home"><a href="/"><span>HOME</span></a>
                    </li>
                </ul>
            </div>

            <div >
                <ul class="footer-col">
                    <li id="projects"><a href="/featured"><span>FEATURED</span></a></li>
                    <li>
                        <a href="/featured#latest-project">Latest project</a>
                    </li>
                    <li>
                        <a href="/featured#other-project">Others</a>
                    </li>
                </ul>
            </div>

            <div>
                <ul class="footer-col">
                    <li id="about">
                        <a href="/about"><span>ABOUT</span>
                        </a>
                    </li>
                    <li>
                        <a href="/about#content-map">content map</a>
                    </li>
                    <li>
                        <a href="/about#wireframe">wireframe</a>
                    </li>
                    <li>
                        <a href="/about#walk-through">walk-through</a>
                    </li>
                    <li>
                        <a href="/about#credits">credits</a>
                    </li>
                </ul>
            </div>

            <div>
                <ul class="footer-col">
                    <li>
                        <a href="/contact"><span>CONTACT</span></a>
                    </li>
                    <li>
                        <a href="/admin">Admin</a>
                    </li>
                </ul>
            </div>
        </ul>
</section>

