<nav>
    <div id="mainlogo">
        <a class="logo" href="/">Anh<span>Nguyen</span></a>
    </div>

    <button  id="burger" class="burger">MENU</button>

    <ul class="menu">
        <li><a href="/">HOME</a></li>
        <li><a href="/featured">FEATURED</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
    </ul>
</nav>
