export const TYPES = Object.freeze({
soge: "soge",
card: "card",
nest: "nest",
plus: "plus",
pixel: "pixel",
});

export const projects = [
{
id: TYPES.soge,
name: "Société Générale",
url: "/work/societe-generale",
},
{
id: TYPES.card,
name: "Card",
url: "/work/card",
},
{
id: TYPES.nest,
name: "Google Nest Hub",
url: "/work/google-nest",
},
{
id: TYPES.plus,
name: "Plus",
url: "/work/plus",
},
{
id: TYPES.pixel,
name: "Pixel",
url: "/work/pixel",
},
];

<div class="Hero">
    <div class="Container Grid">
        <section class="ProjectCarousel projects-menu">
            <ul class="List">
                <li class="Project" style="opacity: 1;">
                        <span class="Title" style="--word-total:2; --char-total:15;">
                            PROJECT 1
                        </span>
                </li>
            </ul>
            <div class="Controls controls" style="opacity: 1;">
                <button aria-label="previous"
                        class="Control controls_button prev"></button>
                <button aria-label="next"
                        class="Control controls_button next"></button>
            </div>
        </section>
    </div>
</div>
