<nav>
    <div id="mainlogo">
        <a class="main logo" href="/">Anh<span>Nguyen</span></a>
    </div>

    <button  id="burger" class="burger">MENU</button>

    <ul class="menu">
        <li id="home"><a href="/">HOME</a></li>
        <li id="projects"><a href="/projects">PROJECT</a></li>
        <li id="about"><a href="/about">ABOUT</a></li>
        <li id="contact"><a href="/contact">CONTACT</a></li>
    </ul>
</nav>
