<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body >

<%- include('partials/header') %>

<main class="content">
    <h1>
        ERROR
    </h1>
</main>
</body>
<%- include('partials/scripts') %>
</html>

