<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body >
    <%- include('partials/header') %>

    <main class="content">
        <h1>ERROR</h1>
        <iframe src="https://giphy.com/embed/8L0Pky6C83SzkzU55a" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </main>
    <%- include('partials/footer-2') %>

</body>
<%- include('partials/scripts') %>
</html>

