<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body >
<%- include('partials/header') %>

<main class="content">
    <h1 class="Welcome">
        Welcome<br>
        <span>My Portfolio</span>
    </h1>
</main>

<%- include('partials/footer') %>
</body>
<%- include('partials/scripts') %>
</html>
