<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body >
<%- include('partials/header') %>

<main class="content">
    <h1 class="Welcome">
        Welcome<br>
        <span>My Portfolio</span>
    </h1>
    <div class="Category" id="welcome-sub">
        <ul class="SubCategories">
            <li class="SubCategory section-line">
                <ul class="About-List">
                    <li class="Item">Web Design</li>
                    <li class="Item">Graphic Design</li>
                    <li class="Item">Front-End Developer</li>
                </ul>
            </li>
        </ul>
    </div>
</main>

<%- include('partials/footer') %>
</body>
<%- include('partials/scripts') %>
</html>
