<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body >
<%- include('partials/header') %>

<main class="content" >
    <section class="contact-wrapper" id="contact">
        <div class="direct-contact-container">
            <h1 class="section-header">Thank you</h1>
            <ul class="contact-list">
                <li class="list-item"><span class="contact-text">Minneapolis | MN</span></li>
                <li class="list-item"><span class="contact-text"><a href="tel:1-612-203-8821" title="Give me a call">(612) 203-8821</a></span></li>
                <li class="list-item"><span class="contact-text"><a href="mailto:#" title="Send me an email">a.nguyen0208@gmail.com</a></span></li>
            </ul>

<!--            <ul class="social-media-list">-->
<!--                <li>-->
<!--                    <a href="#" target="_blank" class="contact-icon">-->
<!--                        <i class="fab fa-linkedin" aria-hidden="true"></i>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#" target="_blank" class="contact-icon">-->
<!--                        <i class="fab fa-github" aria-hidden="true"></i>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li><a href="#" target="_blank" class="contact-icon">-->
<!--                        <i class="fab fa-twitter" aria-hidden="true"></i></a>-->
<!--                </li>-->
<!--                <li><a href="#" target="_blank" class="contact-icon">-->
<!--                        <i class="fab fa-instagram" aria-hidden="true"></i></a>-->
<!--                </li>-->
<!--                <li><a href="#" target="_blank" class="contact-icon">-->
<!--                        <i class="fab fa-codepen" aria-hidden="true"></i></a>-->
<!--                </li>-->
<!--            </ul>-->
        </div>
<!--        <iframe src="https://giphy.com/embed/3o6ozuHcxTtVWJJn32" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/thanks-thank-you-thnx-3o6ozuHcxTtVWJJn32">via GIPHY</a></p>-->
        <iframe src="https://giphy.com/embed/3o6ozuHcxTtVWJJn32" width="320" height="300" frameBorder="0" ></iframe>
    </section>
</main>

<%- include('partials/footer-2') %>
</body>
<%- include('partials/scripts') %>
</html>
