.container_404{
    /*display: inline-block;*/
    width: 100%;
    display: block;
    padding: 0 25% 0 25%;
}
#error_container .error_title{
    font-family: "Canela", sans-serif;
    font-weight: 700;
    font-size: 35px;
}
