#about-intro p{
    font-family: "Nimbus", sans-serif;
    font-size: 16px;
}
#wireframe{
    height: 750px;
}
.section-title{
    font-family: "Canela", sans-serif;
    font-weight: 700;
    font-size: 35px;
}

.Categories{
    width: 100%;
    opacity: 1;
    margin: -8% 5% -5% 2%;
    display: inline-flex;
    background: #FFFFFF;
    list-style-type: none;
}

#walk-through{
   width: 70%;
    margin-right: 5%;
}

.Category{
    padding-right: 6%;
    list-style-type: none;
}

.SubCategories {
    margin-top: 5%;
    list-style-type: none;
}

.SubCategory {
    position: relative;
    padding-left: 20px;
    margin-bottom: 35px;
}

.SubCategory:before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 2px;
     height: 100%;
     background: gray;
 }


.SubCategoryTitle{
    font-family: "Nimbus-Black", sans-serif;
    font-size: 32px;
    line-height: 40px;
}


.SubCategorySubtitle {
    font-size: 24px;
    line-height: 26px;
    margin-top: 8%;
}

.About-List {
    list-style-type: none;
}

.Item {
    list-style-type: none;
    font-family: "Nimbus", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: black;
    padding-bottom: 10px;
}

.Item span{
    font-family: "Nimbus-Bold", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

/*=======================================
                  MOBILE
=========================================*/
@media only screen and (min-width:280px)and (max-width: 418px){
    #about-intro .section-title{
        font-size: 40px;
        text-align: left;
    }
    #content-map img{
        width: 100%;
        padding-right: 3%;
        border: solid 1px #9d9d9d;
    }
    #wireframe{
        height: 425px;
    }
    .Categories{
        display: inline-block;
        width: 100%;
    }
    #walk-through{
        width: 100%;
    }
}

/*===============================================================
                            Tablet
================================================================*/
@media only screen and (min-width: 721px) and (max-width: 768px){

    #about-intro .section-title{
        font-size: 45px;
        text-align: center;
    }

    #content-map img{
        width: 100%;
        padding-right: 3%;
        border: solid 1px #9d9d9d;
    }
    #wireframe{
        height: 675px;
    }
    .Categories{
        bottom: 0;
    }
}
/*===============================================================
                            MACBOOK
================================================================*/
@media screen and (min-width: 1280px) and (max-width: 1440px){
    #about-intro{
        padding: 0 6% 0 6%;
    }
    #about-intro .section-title{
        font-size: 50px;
        text-align: center;
    }
    #about-intro p{
        font-size: 20px;
    }
    #content-map .section-title{
        padding: 0 6% 0 6%;
    }
    #content-map img{
        width: 100%;
        margin-left: 3%;
        margin-right: 3%;
        padding-right: 2%;
        border: solid 1px #9d9d9d;
    }
    #wireframe .section-title{
        padding: 0 6% 0 6%;
    }

    #walk-through {
        padding: 0 0 0 3%;
    }

}

/*===============================================================
                            Monitor
================================================================*/
@media (min-width: 1920px){
    #about-intro{
        padding: 0 20% 0 20%;
    }
    #about-intro .section-title{
        font-size: 55px;
        text-align: center;
    }
    #about-intro p{
        font-size: 20px;
    }
    #content-map .section-title{
        padding: 0 20% 0 20%;
    }
    #content-map img{
        width: 70%;
        margin-left: 18%;
        margin-right: 20%;
        padding-right: 2%;
        border: solid 1px #9d9d9d;
    }
    #wireframe .section-title{
        padding: 0 20% 0 20%;
    }

    #walk-through {
        padding: 0 0 3% 17%;
    }
}
