.content{
    width: 100%;
    padding: 0 10% 3% 10%;
}

.Welcome{
    font-family: "Canela", sans-serif;
    font-size: 100px;
    color: black;
    position: static;
    padding-top: 5%;
}
.Welcome span{
    font-weight: 700;
    font-size: 120px;
}

@media screen and (max-width: 1920px) {

    .Welcome{
        padding-top: 5%;
        font-size: 120px;
        color: black;
    }
    .Welcome span{
        font-weight: 700;
        font-size: 200px;
    }
}
@media screen and (max-width: 1440px) {
    .Welcome{
        padding-top: 10%;
        font-size: 100px;
    }
    .Welcome span{
        font-weight: 700;
        font-size: 120px;
    }
}

@media screen and (max-width: 1280px) {
    .Welcome{
        font-size: 85px;
    }
    .Welcome span{
        font-weight: 700;
        font-size: 120px;
    }
}
@media screen and (max-width: 768px) {
    .content{
        width: 100%;
        height: auto;
        padding: 0 10% 10% 10%;
    }
    .Welcome{
        font-size: 65px;
        color: black;
        padding-top: 35%;
    }
    .Welcome span{
        font-weight: 700;
        font-size: 100px;
    }
}

@media (min-width: 280px) and (max-width: 418px) {
    .content{
        width: 100%;
        height: auto;
        padding: 0 10% 3% 10%;
    }
    .Welcome{
        padding-top: 40%;
        font-size: 42px;
        color: black;
    }
    .Welcome span{
        font-weight: 700;
        font-size: 58px;
    }
}


